

.device {
    width: 400px;
    height: 300px;
    display: block;
    margin: 100px auto;
    position: relative;
    }

.device-outline-4{
    }
.device-outline-3{  
    }
.device-outline-2{
    display: block;
    width: 400px;
    height: 300px;
    border-radius: 40px;
    background: #222;
    padding: 10px;
    }
    .device-outline-1{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 30px 30px 50px 50px;
        background: #555;
        }

.speaker {
    }

.screen-outline-1 {
    background-color: #555;
    position: absolute;
    top: 4px;
    left: 30px;
    right: 30px;
    height: 130px;
    display: block;
    box-shadow: 0 0 2 rgba( 0, 0, 0, .4 );
    border-radius: 1000px / 50px;
    }
    .screen-outline-2 {
        border-radius: 4px;
        background-color: #333;
        position: absolute;
        top: 20px;
        left: 10px;
        right: 10px;
        bottom: 0px;
        }
    .screen {
        background-color: #c3da88;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        display: block;
        border-radius: 2px;
        box-shadow: inset 0 2px 10px rgba( 0, 0, 0, .4 );
        }

.keyboard-outline-1 {
    background: #333;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 120px;
    display: block;
    box-shadow: 0 0 2 rgba( 0, 0, 0, .4 );
    border-radius: 0 0 30px 30px
    }   
    .keyboard {
        padding-top: 10px;
        display: block;
        border-radius: 1000px / 40px 40px 100px 100px;
        background: #333;
        margin-top: -10px;
        }

    .row {
        display: block;
        text-align: center;
        }
        .key {
            margin: -1px 5px;
            width: 20px;
            height: 27px;
            background-color: #AAA;
            display: inline-block;
            border-radius: 20px / 27px;
            }
        .key.left {
            -webkit-transform: rotate( -25deg );
            }
        .key.right {
            -webkit-transform: rotate(  25deg );
            }
        .zero-key,
        .sym-key,
        .shift-key{
            display: none;
            }
        .space-key{
            width: 50px;
            }
